.cabecalhoPrincipal .container {
    /* Coloca um item do lado do outro */
    display: flex;
    /* Alinha os itens verticalmente */
    align-items: center;
    /* Coloca o espaço vazio entre os itens */
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    width: 70%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    /* Coloca o espaço vazio igualmente entre os elementos */
    justify-content: space-around;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /* Muda a direção padrão do flex de row para column */
    flex-direction: column;
    /* Faz o flex-item ir para a próxima coluna se exceder a altura, ou para a próxima linha se exceder a largura */
    flex-wrap: wrap;
    /* Substitui as duas linhas de cima em uma só */
    flex-flow: column wrap;
    height: 255px;
}


.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
} 

@media(max-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos {
        display: flex;
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%
    }

    .conteudoPrincipal-cursos-link:nth-child(4n) {
        margin-right: 1%;
    }
    
    .conteudoPrincipal-cursos-link:nth-child(4n + 1) {
        margin-left: 1%;
    } 
    
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    
    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        margin: 0;
    }
    
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}